.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 20px;
    padding-bottom: 10px;
    background-color: whitesmoke;
    border-bottom: 1px solid #ccc;
}
.helloMsg{
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: bounceIn 3s;
    transform: rotate(0deg) scale(1) translateZ(0);
    transition: all 0.5s cubic-bezier(.8,1.8,.75,.75);
}
.hello{
    font-size: 20px;
}


@keyframes bounceIn {
    0% {
      opacity: 1;
      transform: scale(.3);
    } 
  
    50% {
      opacity: 1;
      transform: scale(1.05);
    } 
  
    70% {
      opacity: 1;
      transform: scale(.9);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
    
}
@media only screen and (max-width: 680px) {
   
    .hello{
        font-size: 15px;
    }
}